@model IEnumerable<MovieCustomerCodeEFWithAuthentication.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer list</h2>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <td>Customer Name</td>
            <td>Discount Rate</td>
            <td>Customer DOB</td>
           

        </tr>

    </thead>
    <tbody>
        <tr>
            @foreach (var customer in Model)
            {
            <tr>

                <td>@Html.ActionLink(customer.Name,"Details","Customers",new { id=customer.Id},null)</td>
                <td>@customer.MembershipType.DiscountRate</td>
                <td>@customer.dateTime</td>
                

            </tr>
}

        </tbody>

    </table>

